@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin verticalCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin rightAlign {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}