.menu-top{
    @include rightAlign;
    gap: 0.5rem;
    li {
        display: inline-block;
    }
    a {
        font-family:map-get($font-menu-titles, "regular");
    }
    &__nav{
        content:'';
    }
}