apiVersion: v1
kind: Service
metadata:
  name: portfolio-api
  namespace: portfolio
spec:
  selector:
    app: portfolio-api
  ports:
    - port: 80
      targetPort: 80
      name: http
  type: ClusterIP