body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: map-get($colors,"background");
    font: 300 1rem $font-texts;
    line-height: 1.3;
    color: map-get($colors, "components-stroke")
}
li a {
    color: map-get($colors, "titles");
}
p {
    color: map-get($colors, "paragraphs");
}

h3 {
    font: 400 $font-size-h2-clamp map-get($font-menu-titles, "poppins");
    text-transform: capitalize;
    text-align:center;
    color: map-get($colors, "titles");
    letter-spacing: .1rem;
}

.links {
    color: map-get($colors, "green");
    font-weight: 500;
    line-height: 2px;
    &:hover{
        text-decoration: underline;
    }
}
/* width */
::-webkit-scrollbar {

    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    margin-top:2px;
    box-shadow: inset 0 0 3px rgb(32, 32, 32);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: map-get($colors, "scrollbar");
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: darken(map-get($colors, "scrollbar"), 3);
    transition: background-color 2s ease;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
  }