.hello-container{
    @include verticalCenter;
    width: 100%;
    height: 100vh;
}
.hello {
    &__pre{
        color: map-get($colors, "green");
        font-family: $font-texts;
        font-size: 19px;
    }
    &__title{
        color: map-get($colors, "titles");
        // font-family: $font-main-title;
        font:  bold 96px $font-main-title;
    }
    &__subtitle{
        color: map-get($colors, "main-sub-title");
        font-family: 1.1875rem $font-texts;

    }
}