.hello-container{
    @include verticalCenter;
    width: 100%;
    height: 100vh;
}
.hello {
    &__pre{
        color: map-get($colors, "green");
        font: 1.1875rem $font-texts;
    }
    &__title{
        color: map-get($colors, "titles");
        font: bold 6rem $font-main-title;
        &__dot{
            color: map-get($colors, "green");
        }
    }
    &__subtitle{
        color: map-get($colors, "main-sub-title");
        font: 2.375rem $font-texts;

    }
}