@keyframes slide-in-anim {
    0% {
        opacity: 0;
        transform: translateY($slide-in-y);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes slide-up-anim {
    0% {
        opacity: 0;
        transform: translateX($slide-in-y   );
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}