main {
    @media (max-width: 1080px){
        padding: 0px 6.25rem;
    }
    @include phone{
        padding: 0px $padding-navbar-main;
    }
    margin: 0px auto;
    width: 100%;
    max-width: 100rem;
    min-height: 100vh;
    padding: 0 9.375rem;
}