footer {
    div {
        @include verticalCenterColumn;
        text-align: center;
        padding: 0;
        gap: 10px;

        @include phone {
            margin: 0 auto;
        }
    }
    @include phone{
        padding: 15px;
        height: auto;
        min-height: 70px;
    }
    .menu-footer{
        padding: 0 0 10px;
        border-bottom: 1px solid grey;
        &__links{
            display:flex;
            gap : 15px;
            font-size: .9rem;
        }
    }

    .copyright{
        padding: 0 0 20px;
        p {
            position: relative;
            color: map-get($colors, "components-stroke");
            font-size: $font-size-footer;
            span {
                font-weight: 600;
            }
        }
    }
}