.resume-button{
    color: map-get($colors, "green");
    border : 1px solid map-get($colors, "green");
    border-radius: $border-radius-size;
    padding: .75rem 17px;
    margin-left: $margin-menu;
    text-decoration: none;
    cursor: pointer;
}