.contact-form-container {
    @include verticalCenterColumn;
}
.contact-form{
    &__user-message {
        margin-bottom: $menu-padding-mobile;
    }
    @include verticalCenterColumn;
    width: 60%;    
    gap: 25px;
    @include phone{
        width: 100%;
    }

    label {
        display: block;
        color: #fff;
        margin-bottom: 7px;
    }

    input{
        display: inline-block;
        width: 100%;
        color: map-get($colors, "paragraphs");
        -webkit-text-fill-color: map-get($colors, "components-stroke")!important;
        -webkit-background-clip: text !important;
        background-clip:  text !important;
        border: 1px solid map-get($colors,"components-stroke");
        border-radius: $border-radius-size;
        padding: .6875rem .875rem;
        input::placeholder {
            color: map-get($colors, "paragraphs");
        }

        &.error{
            border: 1px solid map-get($colors,"error");
        }
    }

    &__fields{
        display: block;
        width: 100%;
    }
    .errorMessage{
        color: map-get($colors, "error");
        font-size: 13px;
        font-weight: 400;
        margin-top : 7px;
    }
}
.btn-submit {
    background-color: map-get($colors, "btn-submit");
    color: #fafafa;
    text-align:center;
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: $border-radius-size;
    @include phone{
        width: 100%;
    }
    &:hover{
        transition: all .3s ease-in-out;
        background-color:darken(map-get($colors, "btn-submit"), 18)
    }
    &__loader {
        display: inline-block;
        margin-left: -12px;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 3px dotted map-get($colors, "green");
        border-bottom-color: transparent;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotation 1.3s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    
    }
}
