.menu-burger{
    &__btn{
        display:none;
        @include phone{
            position:fixed;
            display:block;
            z-index: 10;
            margin-right: -15px;
            padding: 15px;
            border: 0px;
            background-color:transparent;
            align-self: flex-end;
        }
    }
}
.burger-box {
    display: block;
    position: relative;
    width: 30px;
    height: 24px;
    &__inner{
        position: absolute;
        top: 50%;
        right: 0px;
        width: 25px;
        height: 2px;
        background-color: map-get($colors, "green");

    }
    &__inner {
        &::before{
            @include burger-before-after;
            top: -10px;
        }
        &::after{
            @include burger-before-after;
            bottom: -10px;
        }
    }
}