// <nav>
.navbar{ 
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    position: relative;
    width: 100%;
    gap: 0.5rem;
    @include phone{
        flex-direction: column;
    }
    // <div> container
    &__container{ 
        display:flex;
        align-items:center;
        @include phone{
            flex-direction:column;
            justify-content: center;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100vh;
            width: 100vw;
        }
    }

    // <li>
    &__item {
        position: relative;
        margin: 0 $margin-menu;
    }

    // <ul>
    &__links {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        @include phone{
            flex-direction:column;
            justify-content: center;
            left: 0;
            right: 0;
            bottom: 0;
            height: 20vh;
        }

    }
    // <a>
    &__link {
        display:inline-block;
        font: 200 .8125rem map-get($font-menu-titles, "regular");
        transition: $menu-transition;
        &:hover{
            color:map-get($colors, "green");
        }
        @include phone{
            display:block;
            padding: 1.5rem;
        }
    }
}