.work-image-wrapper{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-radius: $border-radius-size;
}
.work-img {
    width:100%;
    border-radius: $border-radius-size;
    filter: grayscale(100%) contrast(1) brightness(90%);
    transition: all .3s ease-in-out;
    &:hover{
        filter: grayscale(0) contrast(1.2);
    }
}

.project-card{
    position: relative;
    display: flex;
    margin-top: 90px;
    gap: $project-gap;
    -webkit-box-align: center;
    align-items: center;
    &.left{
        flex-direction: row-reverse;
    }

    &__type{color: map-get($colors, "green");}
    &__title{font-weight: 600}
    &__data{
        position: absolute;
        right: 0;
        max-width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 15px;
        &.left{
            align-items: flex-start;
            left: 0;
        }
    }
    &__details{
        display:flex;
        flex-direction: column;
        gap: $project-gap;
        padding: $project-gap 15px;
        background-color:map-get($colors, "project-background");
        border-radius: $border-radius-size;
        font-size:map-get($font-sizes, "component-skills");
    }
    &__image{
        width: 50%;
        a {
            width:100%;
            height: 100%;
        }
    }
    &__technos{
        background:url('../../../../public/media/background/tasks.svg') no-repeat center;
        background-size: contain;
        ul{
            display: flex;
            justify-content: flex-end;
            font: $font-size-component-skills map-get($font-menu-titles, "regular");
            color: map-get($colors, "components-stroke");
            gap: 15px;
            padding: $project-gap 15px;
        }
    }
    &__links {
        display: flex;
        gap: $project-gap;
        align-items: center;
    }
}
.green-texts {
    @include green-text;
}